:root {
    --green: #2DDD29;
    --pink: #F2357B;
    --orange: #F28705;
    --sand: #F8E8DA;
}


body {
    font-family: Jura;
    background-color: var(--sand);
}



h1 {
    font-family: 'Nova Round';
    font-size: 45px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


a:link, a:visited {
    color: white;
    text-decoration: none;
    font-family: Jura;
    font-size: 23px;
}


p {
    font-family: Jura;
    font-size: medium;
}


.orangerad {
    background-image: radial-gradient(var(--orange), rgba(215, 111, 0, 0), transparent 100px);
}

.pinkrad {
    background-image: radial-gradient(var(--pink), rgba(215, 0, 186, 0), transparent 100px);
}

.greenrad {
    background-image: radial-gradient(var(--green), rgba(21, 215, 0, 0), transparent 100px);
}

.greenlinr {
    background-image: linear-gradient(to left, rgba(45, 221, 41, 0.21), rgba(45, 221, 41, 0));
}

.greenlin {
    background-image: linear-gradient(to left, rgba(45, 221, 41, 0.21), rgba(45, 221, 41, 0));
}


.title-circles {
    display:flex;
    position:absolute;
    right:15px;
    height:100px;
    z-index: -1;
}

.circle {
    width:100px;
    height:100px;
    border-radius:50%;
    margin-right: 10px;
}


.title {
    display: flex;
    height: 100px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}


.titletxt {
    display: flex;
    align-items: baseline;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    padding:0;
    margin: 40px 0 10px 0;
    height: 50px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}


.navlink {
    display: flex;
    list-style: none;
    margin: auto;
    padding: 0;
}


#active {
    text-decoration: underline solid 5px var(--orange);
}

.content {
    display: flex;
    flex-direction: column;
}


.hero {
    margin:auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 630px;
}


.heroimg {
    display: flex;
    width: 200px;
}


.herotxt {
    display: flex;
    text-align: right;
    font-size: 25px;
}



.card {
    color: white;
    background-color: black;
    border-radius: 8px;
    margin:auto;
    padding:10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 800px;
    height:fit-content;
}


p.card {
    margin-block-start: none;
    margin-block-end:none;
}

.btn {
    display: flex;
    justify-content: center;
    background-color: var(--green);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-family: 'Nova Round';
    font-size: 28px;
    margin: auto;
    margin-top:30px;
    margin-bottom: 30px;
    padding:5px;
    border: solid 1px black;
    width: 50%;
    min-width:250px;
    max-width:400px;
}


a.btn {
    color:black;
    font-family: Nova Round;
    size:30px;
}



.footerimg {
    display:block;
    margin: 40px auto 40px auto;
    width: 50px;
}


.footernav {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin:0;
    padding:0;
    gap: 40px;
}


.footer-btn {
    display: flex;

}


.home {
    display: flex;
    background-color: var(--pink);
    padding: 10px;
    border-radius: 8px;
    border: solid 1px black;
    height:40px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


.mail {
    display: flex;
    justify-self: center;
    background-color: var(--green);
    padding: 10px;
    border-radius: 8px;
    border: solid 1px black;
    height:40px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


.linkedin {
    display: flex;
    background-color: var(--orange);
    padding: 10px;
    border-radius: 8px;
    border: solid 1px black;
    height:40px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


@media (min-width:800px) { 
    .content {
      flex-direction: row;
      margin: 0 80px 0 80px;
      gap:10px;
      align-items: center;
    }
    .hero {
      flex-direction: column;
      flex: 2;
      margin:0 5px 0 5px;
    }

    .card {
        flex:3;
        margin:0 5px 0 5px;
    }

    .heroimg {
        width: 300px;
    }

    p {
        font-size:20px;
    
    }
    a:link, a:visited {
        font-size:25px;
    }
    }

@media (max-width:330px) {
    .hero {
        flex-direction: column;
    }
    
    .heroimg {
        width:150px;
    }

    a:link, a:visited {
        font-size:15px;
    }

    }


/*SKILLS*/

.skills {
    display: flex;
    flex-direction: column;
}

.skill-card {
    display:flex;
    flex-direction: column;
    align-items:center;
}

.orangelinr {
    align-self: end;
    background-image: linear-gradient(to left, var(--orange), rgba(221, 155, 41, 0));
    padding: 15px;
}

.pinklin {
    align-self: start;
    background-image: linear-gradient(to right, var(--pink), rgba(221, 41, 215, 0));
    padding: 15px;
}

.skillimg {
    height:100px;
    width:100px;
}

.center {
    max-width: 630px;
    margin: auto;
}

.underline {
    text-decoration: underline;
}


/*PORTFOLIO*/
/*I think 3 flex rows in a flex column makes more sense for this content but I wanted to try grid lol */

.portfolio {
    display: grid;
    grid-template:
        "t1 t1 t1 i1 i1" 20%
        "i2 i2 t2 t2 t2" 20%
        "t3 t3 t3 i3 i3" 20%/ 1fr 1fr 1fr;

}

.portfolio-card {
    margin: 15px;
}

.t1 {
    grid-area: "t1";
    align-items: center;
    justify-content: flex-start;
}

.i1, .i2, .i3 {
    object-fit: contain;
    width: 40%;
}


.i1 {
    grid-area: "i1";
}

.t2 {
    grid-area: "t2";
    align-items: center;
    justify-content: flex-end;
}

.i2 {
    grid-area: "i2";
}

.t3 {
    grid-area:"t3";
    align-items: center;
    justify-content: flex-start;
}

.i3 {
    grid-area: "i3";
}

